#logo
{
    font-size: 18px
}
#avathar
{
    width: 20%;
}
#avathar
{
    align-items: center;
}
#para{
    font-size: 15px
}
#gradient{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #3d05ac,#227c8b);
}
.p{
    color: #fff;
    width: 650px;
}
.h1{
    font-size: 38px;
    font-weight: 800;
}
.btn-1{
    background-color: #ffa500;
    color: #fff;
}
.btn-1:hover{
    background-color: #f8c66b;
    color: #fff;
}
.btn-2{
    background: none;
    border: 1px solid #ffa500;
    color: #fff;
}
.btn-2:hover{
    background: none;
    background-color: #ffa500;
    color: #fff;
}
.sec-2 img{
    width: 500px;
}

.sec-btn{
    background-color: #ffa500;
    color: #fff;
}
.sec-btn:hover{
    border: 1px solid #ffa500;
    color: #000;
}

.card{
    display: flex;
    align-items: center;
}

.card-box{
    width: 305px;
    height: 330px;
    border: none;
    border-radius: 18px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
}
.card-box:hover img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.sec-4 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: .3s;
}
.cont-1{
    background-color: #f5eac1;
}





@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Archivo", sans-serif;
}

.home-1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./image/home-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./image/home-2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./image/home-3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.font-size{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.p{
    color: #fff;
    width: 650px;
}
.h1{
    font-size: 38px;
    font-weight: 800;
}
.btn-1{
    background-color: #ffa500;
    color: #fff;
}
.btn-1:hover{
    background-color: #f8c66b;
    color: #fff;
}
.btn-2{
    background: none;
    border: 1px solid #ffa500;
    color: #fff;
}
.btn-2:hover{
    background: none;
    background-color: #ffa500;
    color: #fff;
}
.sec-2 img{
    width: 500px;
}

.sec-btn{
    background-color: #ffa500;
    color: #fff;
}
.sec-btn:hover{
    border: 1px solid #ffa500;
    color: #000;
}

.card{
    display: flex;
    align-items: center;
}

.card-box{
    width: 305px;
    height: 330px;
    border: none;
    border-radius: 18px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
}
.card-box:hover img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.sec-4 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: .3s;
}
.cont-1{
    background-color: #f5eac1;
}

footer .btn{
    background-color: #ffa500;
    color: #fff;
}
footer .btn:hover{
    border: 1px solid #000;
    color: #000;
}


@media only screen and (max-width: 570px) {
    .sec-2 {
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./image/about-us.jpg);
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sec-2 img{
        display: none;
    }
    .sec-2 h1,h3,p{
        color: #fff;
    }
  }
  body{
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
#logo{
    font-family: "Lora", serif;
}
header
{
    display : flex;
flex-direction : row;
justify-content : space-between;
}
a{
    text-decoration-line: none;
}
ul{
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : flex-start;
    gap: 24px;
}
ul{
    list-style: none;
}
a{
    font-size: 130%;
}
main{
    text-align: center;
}
img{
    width: 50%;
}
img{
    border-radius: 60%;
}
#avathar
{
    width: 20%;
}
#avathar
{
    align-items: center;
}
#logo
{
    color: rgb(255, 255, 255);
}
.top
{
    color: grey;
}
header{
    background-color: black;
}
header{
    align-items: center;
}

footer{
        background-color: black;
    
}
.mod1{
    background-color: rgb(92, 158, 120);
}
.mod2{
    background-color: rgb(86, 122, 109);
}


